
*.targets
*.pdb
*.lock
*.ide
*.ide-wal
*.ide-shm
*.props
*.cache
*.dll
src/TechStore.Core/obj/Debug/netcoreapp2.2/TechStore.Core.csproj.FileListAbsolute.txt
src/TechStore.Venda.Domain/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Catalogo.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Catalogo.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Catalogo.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Catalogo.Application/obj/Debug/netcoreapp2.2/TechStore.Catalogo.Application.AssemblyInfo.cs
src/TechStore.Catalogo.Application/obj/Debug/netcoreapp2.2/TechStore.Catalogo.Application.csproj.FileListAbsolute.txt
src/TechStore.Catalogo.Application/bin/Debug/netcoreapp2.2/TechStore.Catalogo.Application.deps.json
src/TechStore.Catalogo.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Catalogo.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Catalogo.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Catalogo.Domain/obj/Debug/netcoreapp2.2/TechStore.Catalogo.Domain.AssemblyInfo.cs
src/TechStore.Catalogo.Domain/obj/Debug/netcoreapp2.2/TechStore.Catalogo.Domain.csproj.FileListAbsolute.txt
src/TechStore.Catalogo.Domain/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Catalogo.Domain/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Catalogo.Domain/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Core/obj/Debug/netcoreapp2.2/TechStore.Core.AssemblyInfo.cs
src/TechStore.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Core/obj/project.assets.json
src/TechStore.Venda.Domain/bin/Debug/netcoreapp2.2/TechStore.Venda.Domain.deps.json
src/TechStore.Venda.Domain/obj/Debug/netcoreapp2.2/TechStore.Venda.Domain.AssemblyInfo.cs
src/TechStore.Venda.Domain/obj/Debug/netcoreapp2.2/TechStore.Venda.Domain.csproj.FileListAbsolute.txt
src/TechStore.Venda.Domain/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Venda.Domain/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Venda.Domain/obj/project.assets.json
src/TechStore.Vendas.Application/bin/Debug/netcoreapp2.2/TechStore.Vendas.Application.deps.json
src/TechStore.Vendas.Application/obj/Debug/netcoreapp2.2/TechStore.Vendas.Application.AssemblyInfo.cs
src/TechStore.Vendas.Application/obj/Debug/netcoreapp2.2/TechStore.Vendas.Application.csproj.FileListAbsolute.txt
src/TechStore.Vendas.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Vendas.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Vendas.Application/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Vendas.Application/obj/project.assets.json
src/TechStore.Vendas.Data/bin/Debug/netcoreapp2.2/TechStore.Vendas.Data.deps.json
src/TechStore.Vendas.Data/obj/Debug/netcoreapp2.2/TechStore.Vendas.Data.AssemblyInfo.cs
src/TechStore.Vendas.Data/obj/Debug/netcoreapp2.2/TechStore.Vendas.Data.csproj.FileListAbsolute.txt
src/TechStore.Vendas.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.Vendas.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.Vendas.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.Vendas.Data/obj/project.assets.json
src/TechStore.Catalogo.Data/obj/Debug/netcoreapp2.2/TechStore.Catalogo.Data.csproj.FileListAbsolute.txt
src/TechStore.Catalogo.Data/obj/Debug/netcoreapp2.2/TechStore.Catalogo.Data.AssemblyInfo.cs
src/TechStore.Catalogo.Data/bin/Debug/netcoreapp2.2/TechStore.Catalogo.Data.deps.json
.vs/TechStore/v15/.suo
src/TechStore.Catalogo.Data/obj/project.assets.json
/src/TechStore.Core/bin/Debug/netcoreapp2.2/TechStore.Core.deps.json
/.vs/TechStore/DesignTimeBuild/.dtbcache
/src/TechStore.Vendas.Data/obj/project.assets.json
/src/TechStore.Venda.Domain/obj/project.assets.json
/src/TechStore.Vendas.Application/obj/project.assets.json
/src/TechStore.Catalogo.Data/obj/project.assets.json
/.vs/config/applicationhost.config
*.CopyComplete
/src/TechStore.Catalogo.Domain/bin/Debug/netcoreapp2.2/TechStore.Catalogo.Domain.deps.json
/src/TechStore.Core/obj/project.assets.json
/src/TechStore.Catalogo.Application/obj/project.assets.json
/src/TechStore.Catalogo.Domain/obj/project.assets.json
src/TechStore.WebApp/obj/Debug/netcoreapp2.2/TechStore.WebApp.AssemblyInfo.cs
src/TechStore.WebApp/obj/Debug/netcoreapp2.2/TechStore.WebApp.RazorAssemblyInfo.cs
src/TechStore.WebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/TechStore.WebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/TechStore.WebApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/TechStore.WebApp/obj/project.assets.json
src/TechStore.WebApp/obj/Debug/netcoreapp2.2/TechStore.WebApp.csproj.FileListAbsolute.txt
src/TechStore.WebApp/bin/Debug/netcoreapp2.2/TechStore.WebApp.runtimeconfig.dev.json
src/TechStore.WebApp/bin/Debug/netcoreapp2.2/TechStore.WebApp.deps.json
src/TechStore.Vendas.Data/bin/Debug/netcoreapp2.2/TechStore.Vendas.Data.runtimeconfig.dev.json
/tests/TechStore.Catalogo.Domain.Tests
/.vs/TechStore
/src/TechStore.Catalogo.Application/obj/TechStore.Catalogo.Application.csproj.nuget.dgspec.json
/src/TechStore.Catalogo.Application/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
/src/TechStore.Catalogo.Data/obj
/src/TechStore.Catalogo.Domain/obj/TechStore.Catalogo.Domain.csproj.nuget.dgspec.json
/src/TechStore.Catalogo.Domain/obj/Debug/netcoreapp2.2
/src/TechStore.Core/obj
/src/TechStore.Venda.Domain/obj
/src/TechStore.Vendas.Application/obj
